@import "site.example";

.bg-primary {
  background: $primary;
}

.bg-secondary {
  background: $secondary
}

.bg-success {
  background: $success
}

.bg-info {
  background: $info
}

.bg-warning {
  background: $warning
}

.bg-danger {
  background: $danger
}

.bg-light {
  background: $grey-100
}

.bg-dark {
  background: $grey-900
}








